In [1]:
import numpy as np
import pandas as pd

In [2]:
data = pd.read_csv('../Data/mens-machine-learning-competition-2019/DataFiles/RegularSeasonDetailedResults.csv',sep=',')
all_seasons = data

In [12]:
all_seasons.head() #confirm that the games are in chronological order

,Season,DayNum,WTeamID,WScore,LTeamID,LScore,WLoc,NumOT,WFGM,WFGA,...,LFGA3,LFTM,LFTA,LOR,LDR,LAst,LTO,LStl,LBlk,LPF
0,2003,10,1104,68,1328,62,N,0,27,58,...,10,16,22,10,22,8,18,9,2,20
1,2003,10,1272,70,1393,63,N,0,26,62,...,24,9,20,20,25,7,12,8,6,16
2,2003,11,1266,73,1437,61,N,0,24,58,...,26,14,23,31,22,9,12,2,5,23
3,2003,11,1296,56,1457,50,N,0,18,38,...,22,8,15,17,20,9,19,4,3,23
4,2003,11,1400,77,1208,71,N,0,30,61,...,16,17,27,21,15,12,10,7,1,14

In [5]:
cols = ['Result','t1_Score', 't1_FGM', 't1_FGA', 't1_FGM3', 't1_FGA3', 't1_FTM', 't1_FTA', 't1_OR', 't1_DR', 't1_Ast', 't1_TO', 't1_Stl', 't1_Blk', 't1_PF', 't2_Score', 't2_FGM', 't2_FGA', 't2_FGM3', 't2_FGA3', 't2_FTM', 't2_FTA', 't2_OR', 't2_DR', 't2_Ast', 't2_TO', 't2_Stl', 't2_Blk', 't2_PF']
df = pd.read_csv('model_ready_small.csv', header=None)
df.columns = cols

In [13]:
df.head()

,Result,t1_Score,t1_FGM,t1_FGA,t1_FGM3,t1_FGA3,t1_FTM,t1_FTA,t1_OR,t1_DR,...,t2_FGA3,t2_FTM,t2_FTA,t2_OR,t2_DR,t2_Ast,t2_TO,t2_Stl,t2_Blk,t2_PF
0,1.0,64.818182,23.636364,52.909091,5.727273,15.454545,11.818182,18.363636,11.181818,23.545455,...,11.700000,14.900000,24.100000,12.900000,22.400000,9.700000,19.000000,9.800000,2.600000,19.700000
1,1.0,78.600000,29.300000,63.600000,7.400000,19.500000,12.600000,17.100000,11.200000,22.100000,...,17.300000,15.000000,21.900000,10.200000,24.600000,11.900000,18.400000,6.400000,2.800000,19.000000
2,0.0,79.636364,26.000000,54.727273,6.363636,17.181818,21.272727,29.090909,12.272727,26.000000,...,20.300000,12.800000,20.900000,14.300000,25.100000,13.900000,14.900000,6.200000,3.200000,18.000000
3,1.0,78.600000,28.600000,60.900000,5.000000,16.100000,16.400000,24.500000,15.800000,27.900000,...,21.636364,13.909091,20.272727,14.454545,21.818182,12.181818,14.818182,7.909091,3.181818,23.454545
4,1.0,64.100000,24.400000,61.100000,5.000000,16.800000,10.300000,16.900000,15.200000,23.700000,...,17.000000,9.583333,16.166667,13.083333,22.000000,11.416667,14.916667,7.250000,1.166667,17.250000

In [9]:
#ah, scheize, they're not the same size because we threw out the first 10 games of each season
#ok, we can probably go backwards to get the most recent game for each team

In [15]:
teams_pd = pd.read_csv('../Data/mens-machine-learning-competition-2019/DataFiles/Teams.csv')
teams_pd

     TeamID         TeamName  FirstD1Season  LastD1Season
0      1101      Abilene Chr           2014          2019
1      1102        Air Force           1985          2019
2      1103            Akron           1985          2019
3      1104          Alabama           1985          2019
4      1105      Alabama A&M           2000          2019
5      1106       Alabama St           1985          2019
6      1107        Albany NY           2000          2019
7      1108        Alcorn St           1985          2019
8      1109     Alliant Intl           1985          1991
9      1110    American Univ           1985          2019
10     1111   Appalachian St           1985          2019
11     1112          Arizona           1985          2019
12     1113       Arizona St           1985          2019
13     1114  Ark Little Rock           1985          2019
14     1115   Ark Pine Bluff           1999          2019
15     1116         Arkansas           1985          2019
16     1117      Arkansas St           1985          2019
17     1118     Armstrong St           1987          1987
18     1119             Army           1985          2019
19     1120           Auburn           1985          2019
20     1121          Augusta           1985          1991
21     1122      Austin Peay           1985          2019
22     1123          Ball St           1985          2019
23     1124           Baylor           1985          2019
24     1125          Belmont           2000          2019
25     1126  Bethune-Cookman           1985          2019
26     1127       Binghamton           2002          2019
27     1128    Birmingham So           2003          2006
28     1129         Boise St           1985          2019
29     1130   Boston College           1985          2019
..      ...              ...            ...           ...
336    1437        Villanova           1985          2019
337    1438         Virginia           1985          2019
338    1439    Virginia Tech           1985          2019
339    1440              VMI           1985          2019
340    1441       W Carolina           1985          2019
341    1442       W Illinois           1985          2019
342    1443              WKU           1985          2019
343    1444       W Michigan           1985          2019
344    1445       W Salem St           2007          2010
345    1446      W Texas A&M           1985          1986
346    1447           Wagner           1985          2019
347    1448      Wake Forest           1985          2019
348    1449       Washington           1985          2019
349    1450    Washington St           1985          2019
350    1451         Weber St           1985          2019
351    1452    West Virginia           1985          2019
352    1453     WI Green Bay           1985          2019
353    1454     WI Milwaukee           1991          2019
354    1455       Wichita St           1985          2019
355    1456   William & Mary           1985          2019
356    1457         Winthrop           1987          2019
357    1458        Wisconsin           1985          2019
358    1459          Wofford           1996          2019
359    1460        Wright St           1988          2019
360    1461          Wyoming           1985          2019
361    1462           Xavier           1985          2019
362    1463             Yale           1985          2019
363    1464    Youngstown St           1985          2019
364    1465      Cal Baptist           2019          2019
365    1466    North Alabama           2019          2019

[366 rows x 4 columns]

In [16]:
#specify only necessary teams: 
neccesary_teams = [1181, 1315, 1433, 1416, 1280, 1251, 1439, 1387, 1268, 1125, 1261, 1463, 1257, 1278, 1277, 1133, 1211, 1192, 1393, 1124, 1266, 1293, 1199, 1436, 1138, 1113, 1403, 1297, 1305, 1196, 1276, 1285, 1438, 1205, 1279, 1328, 1458, 1332, 1243, 1414, 1437, 1388, 1345, 1330, 1153, 1234, 1397, 1159, 1314, 1233, 1429, 1449, 1120, 1308, 1242, 1318, 1235, 1326, 1222, 1209, 1459, 1371, 1246, 1101]

In [17]:
games_reversed = all_seasons[::-1]
game_vectors_reversed = df[::-1]

In [21]:
representative_vectors = {}
for i, game in enumerate(game_vectors_reversed.values):
    if game[0] == 1:
        team_1 = games_reversed.iloc[i]['WTeamID']
        team_2 = games_reversed.iloc[i]['LTeamID']
    else:
        team_2 = games_reversed.iloc[i]['WTeamID']
        team_1 = games_reversed.iloc[i]['LTeamID']
    #team_1 always on left, team_2 always on right
    if team_1 not in representative_vectors:
        representative_vectors[team_1] = game[1:15]
    if team_2 not in representative_vectors:
        representative_vectors[team_2] = game[15:29]
    if all(i in representative_vectors for i in neccesary_teams):
        break

In [26]:
len(neccesary_teams)

64

In [28]:
#prepare the model
concat_array = df.values
sub_array = []
for game in concat_array:
    sub_game = [None]*15
    sub_game[0] = game[0]
    sub_game[1:15] = game[1:15] - game[15:29]
    sub_array.append(sub_game)
    
targets = [g[0] for g in sub_array]
attrs = [g[1:17] for g in sub_array]

from sklearn.linear_model import LogisticRegression
from sklearn import preprocessing
from sklearn.metrics import accuracy_score

scaledX = preprocessing.scale(attrs)
lr_model = LogisticRegression(C=1, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='warn',
          n_jobs=None, penalty='l2', random_state=0, solver='liblinear',
          tol=0.001, verbose=0, warm_start=False) #found using GridSearchCV
lr_model.fit(scaledX,targets)
prediction = lr_model.predict(scaledX)

In [40]:
#round of 64
round_32 = []
for i, team in enumerate(neccesary_teams):
    if i % 2 == 0: #i is even, predict the game
        sub_array = representative_vectors[neccesary_teams[i]] - representative_vectors[neccesary_teams[i+1]]
        prediction = lr_model.predict(sub_array.reshape(1,-1))
        if prediction > 0.5:
            round_32.append(neccesary_teams[i])
        else:
            round_32.append(neccesary_teams[i+1])
round_32

[1181,
 1433,
 1251,
 1439,
 1125,
 1261,
 1257,
 1277,
 1211,
 1393,
 1293,
 1436,
 1113,
 1297,
 1305,
 1276,
 1438,
 1328,
 1332,
 1243,
 1437,
 1345,
 1153,
 1397,
 1314,
 1429,
 1120,
 1318,
 1326,
 1222,
 1459,
 1246]

In [41]:
#round of 32
sweet_16 = []
for i, team in enumerate(round_32):
    if i % 2 == 0: #i is even, predict the game
        sub_array = representative_vectors[round_32[i]] - representative_vectors[round_32[i+1]]
        prediction = lr_model.predict(sub_array.reshape(1,-1))
        if prediction > 0.5:
            sweet_16.append(round_32[i])
        else:
            sweet_16.append(round_32[i+1])
sweet_16

[1181,
 1439,
 1125,
 1277,
 1211,
 1293,
 1113,
 1305,
 1438,
 1243,
 1437,
 1153,
 1314,
 1318,
 1222,
 1459]

In [42]:
#sweet 16
elite_8 = []
for i, team in enumerate(sweet_16):
    if i % 2 == 0: #i is even, predict the game
        sub_array = representative_vectors[sweet_16[i]] - representative_vectors[sweet_16[i+1]]
        prediction = lr_model.predict(sub_array.reshape(1,-1))
        if prediction > 0.5:
            elite_8.append(sweet_16[i])
        else:
            elite_8.append(sweet_16[i+1])
elite_8

[1181, 1277, 1211, 1305, 1438, 1437, 1318, 1222]

In [43]:
#elite 8
final_4 = []
for i, team in enumerate(elite_8):
    if i % 2 == 0: #i is even, predict the game
        sub_array = representative_vectors[elite_8[i]] - representative_vectors[elite_8[i+1]]
        prediction = lr_model.predict(sub_array.reshape(1,-1))
        if prediction > 0.5:
            final_4.append(elite_8[i])
        else:
            final_4.append(elite_8[i+1])
final_4

[1277, 1211, 1437, 1318]

In [44]:
#final 4
finalists = []
for i, team in enumerate(final_4):
    if i % 2 == 0: #i is even, predict the game
        sub_array = representative_vectors[final_4[i]] - representative_vectors[final_4[i+1]]
        prediction = lr_model.predict(sub_array.reshape(1,-1))
        if prediction > 0.5:
            finalists.append(final_4[i])
        else:
            finalists.append(final_4[i+1])
finalists

[1277, 1437]

In [45]:
#championship game
champion = None
sub_array = representative_vectors[finalists[0]] - representative_vectors[finalists[1]]
prediction = lr_model.predict(sub_array.reshape(1,-1))
if prediction > 0.5:
    champion = finalists[0]
else:
    champion = finalists[1]
champion

1437

In [46]:
def teamID_to_name(teamID):
    return teams_pd[teams_pd['TeamID'] == teamID].iloc[0]['TeamName']

In [48]:
round_32_names = list(map(teamID_to_name, round_32))
round_32_names

['Duke',
 'VA Commonwealth',
 'Liberty',
 'Virginia Tech',
 'Belmont',
 'LSU',
 'Louisville',
 'Michigan St',
 'Gonzaga',
 'Syracuse',
 'Murray St',
 'Vermont',
 'Arizona St',
 'N Kentucky',
 'Nevada',
 'Michigan',
 'Virginia',
 'Oklahoma',
 'Oregon',
 'Kansas St',
 'Villanova',
 'Purdue',
 'Cincinnati',
 'Tennessee',
 'North Carolina',
 'Utah St',
 'Auburn',
 'Northeastern',
 'Ohio St',
 'Houston',
 'Wofford',
 'Kentucky']

In [49]:
sweet_16_names = list(map(teamID_to_name, sweet_16))
sweet_16_names

['Duke',
 'Virginia Tech',
 'Belmont',
 'Michigan St',
 'Gonzaga',
 'Murray St',
 'Arizona St',
 'Nevada',
 'Virginia',
 'Kansas St',
 'Villanova',
 'Cincinnati',
 'North Carolina',
 'Northeastern',
 'Houston',
 'Wofford']

In [50]:
elite_8_names = list(map(teamID_to_name, elite_8))
elite_8_names

['Duke',
 'Michigan St',
 'Gonzaga',
 'Nevada',
 'Virginia',
 'Villanova',
 'Northeastern',
 'Houston']

In [51]:
final_4_names = list(map(teamID_to_name, final_4))
final_4_names

['Michigan St', 'Gonzaga', 'Villanova', 'Northeastern']

In [52]:
finalist_names = list(map(teamID_to_name, finalists))
finalist_names

['Michigan St', 'Villanova']

In [53]:
champ_name = teamID_to_name(champion)
champ_name

'Villanova'